---
import { Container } from "@/components/ui/container";
import Layout from "@/layouts/layout.astro"

---

<Layout>
	<Container>
		<h1 class="font-bebas text-6xl uppercase">
			Contact
		</h1>

		<div class="flex flex-col">
			<p>
				Ma puteti contacta prin adresa de email
				<a href="mailto:roxanamtenciuc@gmail.com" class="hover:underline text-primary">
					roxanamtenciuc@gmail.com
				</a>
				sau la numarul de telefon: 
				<a href="tel:+40755012472" class="hover:underline text-primary">
					+40 755 0124 72
				</a>
			</p>
		</div>
	</Container>
</Layout>