---
import { Container } from "@/components/ui/container";
import Layout from "@/layouts/layout.astro"

---

<Layout>
	<Container>
		<h1 class="font-bebas text-6xl uppercase">
			Contact
		</h1>
	</Container>
</Layout>