---
import { Container } from "@/components/ui/container";
import Layout from "@/layouts/layout.astro";
---

<Layout>
	<Container className="space-y-4">
		<h1 class="font-bebas text-6xl uppercase">Despre Mine</h1>

		<h2 class="text-3xl font-bebas">
			Sunt Roxana Tenciuc si candidez la primaria Ciorogarla. Am 39 ani,
			m-am nascut si am crescut aici, si tot aici vreau sa imi cresc fiul
			in varsta de 7 ani.
		</h2>

		<p>
			Am terminat facultatea de Relatii internationale si studii europene
			cu specializarea in securitate internationala, si un master in
			acelasi domeniu, cu numeroase alte curauri de referinta facute la
			Viena, Istanbul, Barcelona si Maastricht.
		</p>

		<p>
			Timp de 15 ani am lucrat la PG marketing Romania ca specialist
			achizitii si auditor global. Momentan am o afacere mica de care ma
			ocup impreuna cu familia, care isi desfasoara activitatea tot la noi
			in comuna.
		</p>

		<p>
			Am acumulat experienta in management de proiect si digitalizare si
			imi doresc sa ofer comunitatii in care am crescut din experienta
			mea.
		</p>

		<p>
			In ultimii 4 ani mi-am dedicat toate resursele si atentia in
			sprijinul comunitatii, ca si consilier local.
		</p>

		<p>
			Am sustinut activ toate nevoie oamenilor si am prezentat constant
			problemele si necesitatile comunitatii in speranta ca ele vor fi
			rezolvate.
		</p>

		<p>
			Toate aceste lucruri imi ofera increderea ca pot rezolva problemele
			existente si ca pot aduce comunitatea noastra la nivelul anului
			2024, acolo unde ii este locul.
		</p>

		<p>
			Sunt parte din comunitate si am convingerea ca pot aduce valoare
			adaugata pentru a obtine ce ne dorim si meritam noi toti. Sa fim un
			exemplu pozitiv pentru copiii nostri!
		</p>
	</Container>
</Layout>
