---
import Layout from "@/layouts/layout.astro";
import { Image } from "astro:assets";
import { Container } from "@/components/ui/container";

import roxanaHeadTransparentImage from "@/assets/roxana-head-transparent.png";
import HeadingLines from "@/components/heading-lines.astro";
import LandingDetails from "@/components/landing-details";
---

<Layout>
	<div class="relative">
		<Image
			src={roxanaHeadTransparentImage}
			alt="Roxana Tenciuc"
			loading="eager"
			class="w-80 h-80 rounded-full border-[1rem] border-background absolute top-8 left-1/2 -translate-x-1/2 object-cover bg-background"
		/>
		<div class="h-72 pointer-events-none"></div>
		<div class="bg-muted pt-20">
			<Container className="space-y-2">
				<hr class="border-secondary border-4 w-2/5 mx-auto" />
				<h2 class="text-3xl font-bebas">
					Sunt Roxana Tenciuc și candidez la Primăria Ciorogârla. Am
					39 ani, m-am născut și am crescut aici, și tot aici vreau să
					îmi cresc fiul în vârstă de 7 ani.
				</h2>
				<p>
					Am terminat facultatea de Relații internaționale și studii
					europene cu specializarea în securitate internațională, și
					un master în același domeniu, cu numeroase alte cursuri de
					referință făcute la Viena, Istanbul, Barcelona și
					Maastricht.
				</p>
				<p>
					Timp de 15 ani am lucrat la PG marketing Romania că
					specialist achiziții și auditor global. Momentan am o
					afacere mica de care mă ocup împreună cu familia, care își
					desfășoară activitatea tot la noi în comună.
				</p>
				<p>
					Am acumulat experiență în management de proiect și
					digitalizare și îmi doresc să ofer comunității în care am
					crescut din experiența mea.
				</p>
				<p>
					În ultimii 4 ani mi-am dedicat toate resursele și atenția în
					sprijinul comunității, ca și consilier local.
				</p>
				<p>
					Am susținut activ toate nevoie oamenilor și am prezentat
					constant problemele și necesitățile comunității în speranța
					că ele vor fi rezolvate.
				</p>
				<p>
					Toate aceste lucruri îmi oferă încrederea că pot rezolva
					problemele existente și că pot aduce comunitatea noastră la
					nivelul anului 2024, acolo unde îi este locul.
				</p>
				<p>
					Sunt parte din comunitate și am convingerea că pot aduce
					valoare adăugată pentru a obține ce ne dorim și meritam noi
					toți. Să fim un exemplu pozitiv pentru copiii noștri!
				</p>
			</Container>
			<div class="mt-8 w-full h-8 bg-secondary"></div>
		</div>
	</div>
	<Container className="my-8">
		<h2 class="font-bebas text-4xl">
			Putin din activitatea pe care am avut-o in ultimii ani ca si
			consilier
		</h2>
		<LandingDetails client:load />
	</Container>
</Layout>
