---
import Layout from "@/layouts/layout.astro";
import { Image } from "astro:assets";
import { Container } from "@/components/ui/container";

import roxanaHeadTransparentImage from "@/assets/roxana-head-transparent.png";
import HeadingLines from "@/components/heading-lines.astro";
import LandingDetails from "@/components/landing-details";
---

<Layout>
	<div class="relative">
		<Image 
			src={roxanaHeadTransparentImage} 
			alt="Roxana Tenciuc"
			class="w-80 h-80 rounded-full border-[1rem] border-background absolute top-8 left-1/2 -translate-x-1/2 object-cover bg-background"
		/>
		<div
			class="h-72 pointer-events-none"
		/>
		<div class="bg-muted pt-20">
			<Container className="space-y-2">
				<HeadingLines>
					Cine sunt și de ce candidez
				</HeadingLines>
				<h2 class="text-center text-4xl font-bebas uppercase">
					Sunt Roxana Maria Tenciuc, am 39 de ani
					și candidez la Primăria Ciorogârla.
				</h2>
				<ul class="pt-4">
					<li>
						În ultimii 4 ani am fost consilier local, v-am ascultat
						problemele și le-am prezentat Consiliului Local, pentru
						a fi rezolvate.
					</li>
					<li>
						In acesti 4 ani am ramas in legatura cu voi, am aratat
						ce se intampla in sedintele de Consiliu Local si ca se
						poate face politica si altfel cu si printre oameni,
						intr-un mod transparent, fara alte interese.
					</li>
					<li>
						Candidez pentru Primăria Ciorogârla pentru că îmi
						doresc să pun în aplicare proiectele pe care le-am
						inițiat și să facem din Ciorogârla și Dârvari acasă,
						așa cum ne dorim, cu respect și cu oameni uniți, așa
						cum eram odată.
					</li>
				</ul>
			</Container>
			<div class=" mt-8 w-full h-8 bg-secondary"/>
		</div>
	</div>
	<Container className="my-8">
		<LandingDetails client:load/>
	</Container>
</Layout>
