<div class="text-center flex flex-row justify-center items-center">
	<div class="w-1/5 bg-secondary h-1"/>
	<p class="mx-2 text-2xl uppercase text-nowrap font-bebas">
		<slot/>
	</p>
	<div class="w-1/5 bg-secondary h-1"/>
</div>