---
import { Button } from "./ui/button";

---

<nav class="w-full fixed flex flex-row space-x-2 z-50">
	<div class="w-full"></div>
	<Button variant="link">
		Despre mine
	</Button>
	<Button variant="link">
		Programa
	</Button>
	<Button variant="link">
		Echipa
	</Button>
	<Button variant="link">
		Contact
	</Button>
</nav>