---
import { Button } from "./ui/button";

const isAtRoot = Astro.url.pathname === "/";
---

<nav class="w-full fixed flex flex-row space-x-2 z-50 p-2 overflow-x-auto bg-background shadow-sm">
	{!isAtRoot ?
		<a href="/">
			<Button variant="link">
				Acasă
			</Button>
		</a>
	: null}
	<div class="w-full"></div>
	<Button variant="link" disabled>
		Despre mine
	</Button>
	<a href="/programa">
		<Button variant="link">
			Programa
		</Button>
	</a>
	<a href="/echipa">
		<Button variant="link">
			Echipa
		</Button>
	</a>
	<a href="/contact">
		<Button variant="link">
			Contact
		</Button>
	</a>
</nav>

<div class="h-16"/>
